<div id='divTest'>
    <div class='container' style='padding-top: 16px; padding-bottom: 16px'>
        <div class='row'>
            <div class='col-12'>
                <h1>Project AIR (UI pour Wave)</h1>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='col-12'>
                <h2>Buttons</h2>
            </div>
            <div class='col-12'>
                <button class='btn btn-primary ripple'>Primary</button>
                <button class='btn btn-secondary ripple ripple-dark'>Secondary</button>
                <button class='btn btn-success ripple'>Success</button>
                <button class='btn btn-info ripple ripple-dark'>Info</button>
                <button class='btn btn-warning ripple'>Warning</button>
                <button class='btn btn-danger ripple'>Danger</button>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='col-12'>
                <h2>Text input</h2>
            </div>
            <div class='col-12'>
                <input type='text' placeholder='placeholder'>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='col-12'>
                <h2>Text area</h2>
            </div>
            <div class='col-12'>
                <textarea cols='30' rows='4' placeholder='placeholder'></textarea>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='col-12'>
                <h2>Select</h2>
            </div>
            <div class='col-12'>
                <select style='width: 200px;'>
                    <option value='' hidden='' disabled=''>Choisir une option...</option>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                </select>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='col-12'>
                <h2>Card</h2>
            </div>
            <div class='col-12'>
                <div class='panel'>Allo!</div>
            </div>
        </div>
    </div>
</div>
