<div id='divIntro'>
    <div class='container text-center'>
        <h4>Bienvenue sur</h4>
        <h1>Wave</h1>
        <p>Le streaming de musique, réinventé.</p>
        <button class='btn btn-primary ripple ripple-dark' style='margin-bottom: 8px;'>Créer mon compte</button>
        <br>
        <a href='#login'>J'ai déjà un compte</a>
    </div>
</div>
