<div id='divRegister'>
    <div class='container text-center d-flex flex-column align-items-center'>
        <h2 class='text-center'>Créer mon compte</h2>
        <input id='txtUsername' type='text' placeholder='Nom d&#39;usager'>
        <input id='txtEmail' type='text' placeholder='Adresse courriel'>
        <input id='txtPassword' type='text' placeholder='Mot de passe'>
        <button id='btnRegister' class='btn btn-primary ripple'>Créer mon compte</button>
    </div>
</div>
