<div id='divLogin'>
    <div class='container text-center d-flex flex-column align-items-center'>
        <h2>Connexion</h2>
        <input id='txtEmail' type='text' placeholder='Adresse courriel'>
        <input id='txtPassword' type='password' placeholder='Mot de passe'>
        <button id='btnLogin' class='btn btn-primary ripple'>Connexion</button>
    </div>
</div>
