@COLOR_PRIMARY: #00aaff;

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

// Utils

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.full-size {
	.full-width;
	.full-height;
}

// Fonts

@font-face {
	font-family: "Oxygen";
	src: url("../fonts/Oxygen-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "Oxygen";
	src: url("../fonts/Oxygen-Light.ttf");
	font-weight: 300;
}

@font-face {
	font-family: "Oxygen";
	src: url("../fonts/Oxygen-Bold.ttf");
	font-weight: bold;
}

html, body, button, input, select, textarea {
	font-family: "Oxygen";
}

hr {
	border-color: fade(@COLOR_PRIMARY, 20);
}

a, a:focus, a:hover {
	color: @COLOR_PRIMARY;
}

#divMain {
	.full-size;
	#divRegionMainContainer {
		.full-size;
		background-color: lighten(@COLOR_PRIMARY, 30);
		overflow-y: auto;
		#divRegionMain {
			.full-width;
			margin: auto;
		}
	}
}

#divIntro {
	padding: 16px 8px;
	background-color: white;
}

#divLogin, #divRegister {
	padding: 16px;
	background-color: white;
	input {
		margin-bottom: 8px;
	}
}

#divTest {
	background-color: white;
}

// Shadows

.shadow {
	transition: box-shadow 0.2s linear;
}

.shadow-2 {
	.shadow;
	box-shadow: 0px 2px 4px fade(black, 20);
}

.shadow-4 {
	.shadow;
	box-shadow: 0px 4px 6px 1px fade(black, 20);
}

.shadow-6 {
	.shadow;
	box-shadow: 0px 6px 12px 1px fade(black, 20);
}

// Buttons

.btn,
.btn:focus {
	border: none;
	border-radius: 2px;
	border-top-left-radius: 18px;
	border-bottom-right-radius: 18px;
	box-shadow: none;
	cursor: pointer;
	&.btn-primary {
		background-color: @COLOR_PRIMARY;
	}
	&.btn-secondary {
		background-color: white;
	}
	&.btn-success {
		background-color: #44cc00;
	}
	&.btn-info {
		background-color: #aaeeff;
		color: #292b2c;
	}
	&.btn-warning {
		background-color: #ee9900;
	}
	&.btn-danger {
		background-color: #ee3300;
	}
}

.btn {
	.shadow-2;
	&:focus,
	&:hover {
		.shadow-6;
	}
}

// Text boxes

input,
input:focus {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid @COLOR_PRIMARY;
	border-top: 1px solid transparent;
	transition: border-top 0.2s ease;
	border-bottom-right-radius: 18px;
	border-top-left-radius: 18px;
	box-shadow: none;
	outline: none;
	padding: 4px 12px;
}

input:focus {
	border-top: 1px solid fade(@COLOR_PRIMARY, 50);
}

// Text areas

textarea,
textarea:focus {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid @COLOR_PRIMARY;
	border-top: 1px solid @COLOR_PRIMARY;
	border-bottom-right-radius: 18px;
	border-top-left-radius: 18px;
	transition: border 0.2s ease;
	box-shadow: none;
	outline: none;
	padding: 4px 12px;
}

textarea:focus {
	box-shadow: inset 0px 0px 1px @COLOR_PRIMARY;
}

// Selects

.airSelect {
	display: inline-block;
	position: relative;
	cursor: pointer;
	.airSelectRoot {
		width: 100%;
		padding: 4px 12px;
		border-top: 1px solid transparent;
		position: relative;
		border-bottom: 1px solid transparent;
		&:not(.closing) {
			border-bottom: 1px solid @COLOR_PRIMARY;
		}
		border-bottom-right-radius: 18px;
		border-top-left-radius: 18px;
		transition: border-top 0.2s ease;
		&:not(.open):not(.closing):after {
			content: "";
			width: 8px;
			height: 6px;
			background-color: fade(@COLOR_PRIMARY, 50);
			position: absolute;
			right: 6px;
			top: 50%;
			transform: translateY(calc(~"-50% + 2px"));
			-webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
			clip-path: polygon(0 0, 100% 0, 50% 100%);
		}
		&.open {
			border-bottom: 1px solid transparent;
			&:not(.closing) {
				border-top: 1px solid @COLOR_PRIMARY;
			}
		}
		&.open:after,
		&.closing:after {
			content: "";
			width: 75%;
			height: 1px;
			background-color: fade(@COLOR_PRIMARY, 50);
			position: absolute;
			bottom: 0px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.airSelectOptions {
		position: absolute;
		z-index: 1;
		width: 100%;
		background-color: white;
		border-bottom: 1px solid @COLOR_PRIMARY;
		border-bottom-right-radius: 18px;
		.airSelectOption {
			padding: 4px 12px;
		}
	}
}

// Panel

.panel {
	padding: 16px;
	border-top-left-radius: 18px;
	border-bottom-right-radius: 18px;
	.shadow-4;
	background-color: fade(@COLOR_PRIMARY, 5);
	border-bottom: 1px solid fade(@COLOR_PRIMARY, 50);
	&.active {
		.shadow-6;
	}
}
