html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.full-size {
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "Oxygen";
  src: url("../fonts/Oxygen-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Oxygen";
  src: url("../fonts/Oxygen-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Oxygen";
  src: url("../fonts/Oxygen-Bold.ttf");
  font-weight: bold;
}
html,
body,
button,
input,
select,
textarea {
  font-family: "Oxygen";
}
hr {
  border-color: rgba(0, 170, 255, 0.2);
}
a,
a:focus,
a:hover {
  color: #00aaff;
}
#divMain {
  width: 100%;
  height: 100%;
}
#divMain #divRegionMainContainer {
  width: 100%;
  height: 100%;
  background-color: #99ddff;
  overflow-y: auto;
}
#divMain #divRegionMainContainer #divRegionMain {
  width: 100%;
  margin: auto;
}
#divIntro {
  padding: 16px 8px;
  background-color: white;
}
#divLogin,
#divRegister {
  padding: 16px;
  background-color: white;
}
#divLogin input,
#divRegister input {
  margin-bottom: 8px;
}
#divTest {
  background-color: white;
}
.shadow {
  transition: box-shadow 0.2s linear;
}
.shadow-2 {
  transition: box-shadow 0.2s linear;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.shadow-4 {
  transition: box-shadow 0.2s linear;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.2);
}
.shadow-6 {
  transition: box-shadow 0.2s linear;
  box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.2);
}
.btn,
.btn:focus {
  border: none;
  border-radius: 2px;
  border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: none;
  cursor: pointer;
}
.btn.btn-primary,
.btn:focus.btn-primary {
  background-color: #00aaff;
}
.btn.btn-secondary,
.btn:focus.btn-secondary {
  background-color: white;
}
.btn.btn-success,
.btn:focus.btn-success {
  background-color: #44cc00;
}
.btn.btn-info,
.btn:focus.btn-info {
  background-color: #aaeeff;
  color: #292b2c;
}
.btn.btn-warning,
.btn:focus.btn-warning {
  background-color: #ee9900;
}
.btn.btn-danger,
.btn:focus.btn-danger {
  background-color: #ee3300;
}
.btn {
  transition: box-shadow 0.2s linear;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.btn:focus,
.btn:hover {
  transition: box-shadow 0.2s linear;
  box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.2);
}
input,
input:focus {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #00aaff;
  border-top: 1px solid transparent;
  transition: border-top 0.2s ease;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 18px;
  box-shadow: none;
  outline: none;
  padding: 4px 12px;
}
input:focus {
  border-top: 1px solid rgba(0, 170, 255, 0.5);
}
textarea,
textarea:focus {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #00aaff;
  border-top: 1px solid #00aaff;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 18px;
  transition: border 0.2s ease;
  box-shadow: none;
  outline: none;
  padding: 4px 12px;
}
textarea:focus {
  box-shadow: inset 0px 0px 1px #00aaff;
}
.airSelect {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.airSelect .airSelectRoot {
  width: 100%;
  padding: 4px 12px;
  border-top: 1px solid transparent;
  position: relative;
  border-bottom: 1px solid transparent;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 18px;
  transition: border-top 0.2s ease;
}
.airSelect .airSelectRoot:not(.closing) {
  border-bottom: 1px solid #00aaff;
}
.airSelect .airSelectRoot:not(.open):not(.closing):after {
  content: "";
  width: 8px;
  height: 6px;
  background-color: rgba(0, 170, 255, 0.5);
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(calc(-50% + 2px));
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.airSelect .airSelectRoot.open {
  border-bottom: 1px solid transparent;
}
.airSelect .airSelectRoot.open:not(.closing) {
  border-top: 1px solid #00aaff;
}
.airSelect .airSelectRoot.open:after,
.airSelect .airSelectRoot.closing:after {
  content: "";
  width: 75%;
  height: 1px;
  background-color: rgba(0, 170, 255, 0.5);
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.airSelect .airSelectOptions {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #00aaff;
  border-bottom-right-radius: 18px;
}
.airSelect .airSelectOptions .airSelectOption {
  padding: 4px 12px;
}
.panel {
  padding: 16px;
  border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
  transition: box-shadow 0.2s linear;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 170, 255, 0.05);
  border-bottom: 1px solid rgba(0, 170, 255, 0.5);
}
.panel.active {
  transition: box-shadow 0.2s linear;
  box-shadow: 0px 6px 12px 1px rgba(0, 0, 0, 0.2);
}
